<div class="row">
    <div class="col s8">
        <div class="row">
            <% var i = 0 %>
            <% produtos.forEach(function (bebida) { %>
            <% if(bebida.tipo === 2) { %>
            <div class="col-s6 caixa-respon" >
                <div class="row">
                    <div class="col-s12">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <p><%= bebida.nome %><i style="margin-left: 25%;cursor: pointer;" class="small material-icons">stars</i></p>
                            </div>
                            <div class="card-action">
                                <b id="<%= i %>"><%= bebida.quantidade %></b> Unds.
                                <% var precoI = 'preco'+ i %>
<<<<<<< HEAD
                                <p>R$ <b id=<%= precoI %>><%= bebida.preco %></b><i style="margin-left: 25%;cursor: pointer;" class="small material-icons" onclick="add(<%= i %>)">add_circle</i></p>
=======
                                <p>R$ <b id=<%= precoI %>><%= bebida.preco %></b><i style="margin-left: 25%;cursor: pointer;" class="small material-icons" onclick="preencheCampo('atualiza_campo_item', 1, 'atualiza');">add_circle</i></p>
>>>>>>> dev
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% i++ }); %>
        </div>
<<<<<<< HEAD
    </div>
    <%- include('total') %>
</div>
=======
    </div>
    <div id="atualiza_campo_item">
        <%- include('total') %>
    </div>
</div><!--add(<%= i %>)-->
>>>>>>> dev
